<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Collection/Tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/DataStream/Tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Bundle/MetadataBundle/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Metadata/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Query/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Logger/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Bitmask/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Component/Dataset/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Bundle/QueryBundle/tests" />
        <option value="$PROJECT_DIR$/src/RunOpenCode/Bundle/LoggerBundle/tests" />
      </list>
    </option>
  </component>
</project>